@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "LatoLight";
    src: url("../public/Lato-Light.ttf");
}

@font-face {
    font-family: "LatoRegular";
    src: url("../public/Lato-Regular.ttf");
}

@font-face {
    font-family: "LatoBold";
    src: url("../public/Lato-Bold.ttf");
}